.col2 {
  columns: 2 200px;         /* number of columns and width in pixels*/
  -webkit-columns: 2 200px; /* chrome, safari */
  -moz-columns: 2 200px;    /* firefox */
}

.col3 {
  columns: 3 100px;
  -webkit-columns: 3 100px;
  -moz-columns: 3 100px;
}

.coord tbody {
  border-collapse: collapse;
  line-height: 0px;
}

.coord td {
  border-bottom: 0px;
  border-top: 0px;
  height: 0.2em;
}

img[alt="Demi Sphere Celeste"] { width: 350px; }
img[alt="Sphere Celeste"] { width: 400px; }
img[alt="Plan Equatorial"] { width: 400px; }
img[alt="Plan Ecliptique"] { width: 400px; }
img[alt="Ecliptique"] { width: 350px; }
